<li class="media">
<div class="media-left">
<img class="media-object" src="{{user_profile_image_url}}" alt="{{screen_name}}" width=32 height=32 />
</div>
<div class="media-body">
<h4 class="media-heading">{{screen_name}}</h4>
<p>{{text}}</p>
</div>
</li>
